<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Dashboard</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post.body">Text</label>
        <input class="form-input" type="text" id="post.body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  
</div>

<script src="/js/post.js"></script>